
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

@model Producto

<div class="row">
    <div class="col-6">
        <form asp-action="Eliminar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

           

            <div class="mb-3">

                <input asp-for="IdProducto" class="form-control" placeholder="Correo" hidden />
                <span asp-validation-for="IdProducto" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control" placeholder="Correo" disabled />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="Categoria" class="form-label"></label>
                <input asp-for="Categoria" class="form-control" placeholder="Correo" disabled />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Precio" class="form-label"></label>
                <input asp-for="Precio" class="form-control" placeholder="Correo" type="number" disabled />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CodigoBarra" class="form-label"></label>
                <input asp-for="CodigoBarra" class="form-control" placeholder="Correo" disabled />
                <span asp-validation-for="CodigoBarra" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Marca" class="form-label"></label>
                <input asp-for="Marca" class="form-control" placeholder="Correo" disabled />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>







            <button type="submit" class="btn btn-danger w-100">Eliminar</button>
        </form>
    </div>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");




    }


}